<!DOCTYPE html>
<html>
<head>
	<title>记录页面</title>
	<link href="/Public/sources/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/Public/sources/css/common.css" rel="stylesheet" type="text/css">
	<link href="/Public/sources/css/page.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="gov_re_log_bal_box">
        <a href="{:U('Index')}" class="tontinue_pay">继续充值</a><hr />
        当前账户余额（元）
        <div class="gov_re_log_balance">￥ {$user.money}</div>
    </div>
	<div class="gov_re_log_box">
        <div class="row gov_re_log_head">
            <div class="gov_re_log_item col-sm-3">账户名称</div>
            <div class="gov_re_log_item col-sm-3">记录编号</div>
            <div class="gov_re_log_item col-sm-3">充值类型</div>
            <div class="gov_re_log_item col-sm-3">充值金额</div>
            <div class="gov_re_log_item col-sm-3">充值时间</div>
        </div>
        <volist name="list" id="item">
	        <div class="row gov_re_log_list">
	            <div class="gov_re_log_node col-sm-3 left_text_align">{$item['username']|substr_replace='****',3,4}</div>
	            <div class="gov_re_log_node col-sm-3 left_text_align">{$item['order_no']}</div>
	            <div class="gov_re_log_node col-sm-3">{$item['type']}</div>
	            <div class="gov_re_log_node col-sm-3">{$item['money']}</div>
	            <div class="gov_re_log_node col-sm-3">{$item['create_time']|date='Y-m-d H:i:s',###}</div>
	        </div>
        </volist>
    </div>
    <div class="pagination">{$page}</div>
</body>
</html>